---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/album.json?q=Radio%20Activity
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 30 Nov 2012 23:41:47 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 3, "limit": 100, "offset": 0, "query": "Radio
        Activity", "type": "album", "page": 1}, "albums": [{"name": "Radio-Activity
        (2009 Digital Remaster)", "popularity": "0.55494", "external-ids": [{"type":
        "upc", "id": "5099996601952"}], "href": "spotify:album:4nEgdO6tkE2v5LO3mpUEe9",
        "artists": [{"href": "spotify:artist:0dmPX6ovclgOy8WWJaFEUU", "name": "Kraftwerk"}],
        "availability": {"territories": "AD AE AG AI AL AM AN AO AQ AR AS AU AW AZ
        BA BB BD BE BF BG BH BI BJ BN BO BR BS BT BV BW BY BZ CA CC CD CF CG CI CK
        CL CM CN CO CR CU CV CX CY CZ DJ DK DM DO DZ EC EE EG EH ER ES ET FI FJ FK
        FM FO FR GA GB GD GE GF GH GI GM GN GP GQ GR GS GT GU GW GY HK HM HN HR HT
        HU ID IE IL IN IO IQ IR IS IT JM JO JP KE KH KI KM KN KP KR KW KY KZ LA LB
        LC LI LK LR LS LT LU LV LY MA MC MD MG MH ML MN MO MP MQ MR MS MT MU MV MW
        MX MY MZ NA NC NE NF NG NI NL NO [...]
